- @site_name                     = "Creative Human Capital"
- @title_delimiter               = " | "
- @page_description              = @site_name
- @page_h1                       = "Welcome to #{@site_name}!"
- @meta_description              = "meta description"
- @meta_keywords                 = "meta keywords"
- @google_site_verification_code = nil
- @twitter_url                   = "http://twitter.com/"
- @facebook_url                  = "http://www.facebook.com/"
- @email_recipient               = 'contact'
- @email_domain                  = 'creativehumancapital'
- @mailto_url                    = "mailto: #{@email_recipient} at #{@email_domain} dot com"

!!!
%html
  %head
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; CHARSET=utf-8"}/
    - unless @google_site_verification_code.nil?
      %meta{:name => "google-site-verification", :content => @google_site_verification_code }/
    %title= full_page_title
    %meta{:name => "description", :content => @meta_description}
    %meta{:name => "keywords", :content => @meta_keywords}
    <meta name="google-site-verification" content="c5ERlaR9roVV10oU7wxNpvk6gTYMl0aDfTwG4mJ7r4w" />
    <link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC' rel='stylesheet' type='text/css'>

    = stylesheets :screen, :media => 'screen, projection'
    = stylesheets :print, :media => 'print'
    /[if lt IE 8]
      = stylesheets :ie, :media => 'screen, projection'

    = javascripts 'jquery-1.4.2.min', 'jquery.validate.min', 'application'

  %body{:id => @body_id, :class => @body_class}
    #header
      .inner
        #title
          - if current_page == '/index.html'
            %h1= @site_name
          - else
            %h1= full_page_title
        #nav
          %ul
            - title, href, css = 'Who We Are', '/'
            - css = current_page == '/index.html' ? 'current' : nil
            %li{:class => css}= link title, href

            - title, href, css = 'What We Do', '/what-we-do.html'
            - css = current_page == href ? 'current' : nil
            %li{:class => css}= link title, href

            - title, href = 'Enterprise', '/enterprise.html'
            - css = current_page == href ? 'current' : nil
            %li{:class => css}= link title, href

            - title, href = 'Individuals', '/individuals.html'
            - css = current_page == href ? 'current' : nil
            %li{:class => css}= link title, href

            - title, href = 'Services', '/services.html'
            - css = current_page == href ? 'current' : nil
            %li{:class => css}= link title, href

            - title, href = 'Our Human Capital', '/our-human-capital.html'
            - css = current_page == href ? 'current' : nil
            %li{:class => css}= link title, href


    #content
      .inner
        #main
          = yield
        #sidebar
          = partial 'sidebar'
    
    #footer
      = partial 'footer'

    #scripts
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20273245-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
